
<div class="card">
  <div class="card-header">
    <div style="float:left; color: #E96D00; font-size: 24px; font-weight: bold;">代墊禮金擷取</div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-6">
        <div class="dx-field">
          <div class="dx-field-label">擷取年月:</div>
          <div class="dx-field-value">
            <dx-date-box [value]="now" type="date"> </dx-date-box>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div style="float: right;">
          <dx-button stylingMode="outlined" text="擷取" type="default" [width]="200">
          </dx-button>
        </div>
      </div>
    </div>
    <hr />
    <h4>尚未擷取總務部代墊禮金</h4>
    <div class="row illustrate">
      <div id="data-grid-demo">
        <dx-data-grid id="gridContainer" [dataSource]="dataSource" [showBorders]="true"
          (onSelectionChanged)="selectionChanged($event)" [allowColumnResizing]="true">
          <dxo-paging [enabled]="true"></dxo-paging>
          <dxo-editing mode="cell" [allowUpdating]="false" [allowDeleting]="false">
          </dxo-editing>
          <dxo-selection mode="multiple"></dxo-selection>

          <dxi-column dataField="Prefix" caption="代墊年月" [width]="150"></dxi-column>
          <dxi-column dataField="FirstName" caption="代碼"></dxi-column>
          <dxi-column dataField="LastName" caption="總務部代墊禮金說明"></dxi-column>
          <dxi-column dataField="Position" [width]="170" caption="類別"></dxi-column>
          <dxi-column dataField="StateID" caption="案別" [width]="125"></dxi-column>
          <dxi-column dataField="BirthDate" caption="其他補貼"> </dxi-column>
          <dxi-column dataField="Notes" caption="直屬補貼"></dxi-column>
          <dxi-column dataField="Address" caption="有效起始日"></dxi-column>
          <dxi-column dataField="HireDate" caption="有效終訖日"></dxi-column>
        </dx-data-grid>
      </div>
    </div>
  </div>
</div>

