
<div class="card">
  <div class="card-header">
    <div style="float:left; color: #E96D00; font-size: 24px; font-weight: bold;">財務輸入傳票日期</div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-6">
        <div class="dx-field">
          <div class="dx-field-label">日期:</div>
          <div class="dx-field-value">
            <dx-date-box [value]="now" type="date"> </dx-date-box>
          </div>
        </div>
      </div>
      <div class="col-6">
        <!-- <div style="float: right;">
          <dx-button stylingMode="outlined" text="重新整理" type="success" [width]="200">
          </dx-button>
        </div> -->
      </div>
    </div>
    <div class="row illustrate">
      <dx-data-grid id="gridContainer" [dataSource]="ordersStore" [showBorders]="true" [remoteOperations]="true"
        [repaintChangesOnly]="true">
        <dxo-editing mode="batch" [allowAdding]="false" [allowDeleting]="false" [allowUpdating]="false"></dxo-editing>
        <dxi-column dataField="OrderID" [allowEditing]="false"></dxi-column>
        <dxi-column dataField="ShipName"></dxi-column>
        <dxi-column dataField="ShipCountry"></dxi-column>
        <dxi-column dataField="ShipCity"></dxi-column>
        <dxi-column dataField="ShipAddress"></dxi-column>
        <dxi-column dataField="OrderDate" dataType="date"></dxi-column>
        <dxi-column dataField="Freight"></dxi-column>
      </dx-data-grid>
    </div>
    <div class="row illustrate" style="justify-content:center">
      <div>
        <dx-button stylingMode="outlined" text="送 出" type="default" [width]="200">
        </dx-button>
      </div>
    </div>
  </div>
</div>

